/* UA style reset begins */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    cursor: default;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

b,
strong {
    font-weight: bolder;
}

/* UA style reset ends */

/* my style begins */

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
    font-size: 16px;
    color: whitesmoke;
}

a:hover,
button.add-project:hover {
    cursor: pointer;
}

.content {
    height: 100%;
    background-color: #F8FAF0;
    --header-height: 50px;
    --footer-height: 30px;
}

.header {
    height: var(--header-height);
    line-height: var(--header-height);
    font-weight: bold;

    background-color: #E23E57;
    color: whitesmoke;
}

.main {
    height: calc(100% - (var(--header-height) + var(--footer-height)));
    display: flex;
}

/* set min & max sidebar width */
.main>div {
    flex-basis: auto;
}

.main .sidebar {
    width: clamp(210px, 25vw, 18.9rem);
    flex-shrink: 0;
    border-right: 1px solid #118AB2;
    background-color: #88304E;
}

.sidebar-top {
    padding: 20px;
    height: 30%;
    font-size: 1rem;
}

.sidebar-top>div {
    margin-bottom: 15px;
    display: flex;
    padding: 2px;
}

.sidebar-top > div a {
    margin-top: 2px;
}

.sidebar-top>div:hover {
    background-color: #000000;
}

.sidebar-top img {
    width: 24px;
    height: 24px;

    margin-right: 8px;
}

.sidebar-bottom {
    padding: 20px;
    height: 70%;
    font-size: 1.25rem;
    font-weight: bold;
}

.sidebar-bottom .project-array {
    margin-bottom: 10px;
}

.sidebar .action {
    text-align: center;
}

.main .midsection {
    overflow: auto;
    flex-grow: 1;

    background-color: #522546;
}

.footer {
    height: var(--footer-height);
    line-height: var(--footer-height);

    background-color: #311D3F;
    color: white;
    font-size: 0.85rem;
}

.header,
.footer {
    text-align: center;
}

h1.project-heading {
    text-align: center;
}

.task-container {
    width: max(700px, 78%);
    height: 500px;
    border-radius: 15px;

    margin: 0 auto;
    background: linear-gradient(to right, #ddd6f3, #faaca8);
}

button.add-project {
    background-image: url('./Icons/add-icon.png');
    display: block;

    height: 51px;
    width: 52px;
    margin: 0 auto 5px;
    border-radius: 50%;
}

/* my style ends */