/* UA style reset begins */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    cursor: default;
}

body {
    margin: 0;
    background-color: blue;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


b,
strong {
    font-weight: bolder;
}

/* UA style reset ends */

/* my style begins */

html,
body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', sans-serif;
    font-size: 16px;
}

.content {
    height: 100%;
    background-color: #F8FAF0;
    --header-height: 50px;
    --footer-height: 30px;
}

.header {
    height: var(--header-height);
    line-height: var(--header-height);
    font-weight: bold;
    color: whitesmoke;
}

.main {
    height: calc(100% - (var(--header-height) + var(--footer-height)));
    display: flex;
}

/* set min & max sidebar width */
.main>div {
    flex-basis: auto;
}

.main .sidebar {
    width: clamp(210px, 25vw, 18.9rem);
    flex-shrink: 0;
    background-color: yellow;
}

.main .midsection {
    overflow: auto;
    flex-grow: 1;
    background-color: rebeccapurple;
}

.footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
    color: white;
    font-size: 0.85rem;
}

.header,
.footer {
    text-align: center;
    background-color: #4169e1;
}

h1.project-heading {
    text-align: center;
}

.task-container {
    width: max(700px, 78%);
    height: 500px;
    border-radius: 15px;

    margin: 0 auto;
    background-color: sienna;
}

/* my style ends */